<script type='text/javascript' language='javascript'>
<!--
	tt_cancel_show = '/patients/show/<%= @patient.id %>?user_id=<%= session[:user_id] %>';
	tt_cancel_destination = '/patients/show/<%= @patient.id %>?user_id=<%= session[:user_id] %>';
	</script>

<form method='post' action='/encounters/create'>
	<input type='hidden' name='program' value='EARLY INFANT DIAGNOSIS PROGRAM' />
	<input type='hidden' name='encounter_type' value='DNA-PCR TEST ' />
	<input type='hidden' name='patient_id' value='<%= @patient.id %>' />
	<input type='hidden' name='user_id' value='<%= session[:user_id] %>' />
	<table>
		<tr>
			<td>
				DNA-PCR Sample Date, 
			</td>
			<td>
<input type='text' id='1.1.1'  name='concept[DNA-PCR Testing Sample Date]'   field_type='date'  pos='0'  helpText='DNA-PCR Sample Date'  absoluteMin='<%= @patient.person.birthdate%>'  tt_onLoad='showCategory("DNA-PCR Test")' />
			</td>
		</tr>
		<tr>
			<td>
				DNA-PCR Sample ID 
			</td>
			<td>
<input type='text' id='1.1.2'  name='concept[DNA-PCR Testing Sample ID]'   pos='1'  helpText='DNA-PCR Sample ID' />
			</td>
		</tr>
		<tr>
			<td>
				Date DNA-PCR Result Received 
			</td>
			<td>
<input type='text' id='1.1.3'  name='concept[DNA-PCR Testing Result received Date]'   field_type='date'  pos='2'  helpText='Date DNA-PCR Result Received'  absoluteMin='<%= @patient.person.birthdate%>' />
			</td>
		</tr>
		<tr>
			<td>
				DNA-PCR Result 
			</td>
			<td>
<select id='1.1.4' name='concept[DNA-PCR Testing Result]'  pos='3'  helpText='DNA-PCR result' >
<option></option>
<option value='Positive'>Positive</option>
 <option value='Negative'>Negative</option>
 </select>
			</td>
		</tr>
		<tr>
			<td>
				Date DNA-PCR Result Given 
			</td>
			<td>
<input type='text' id='1.1.5'  name='concept[DNA-PCR Testing Result given Date]'   field_type='date'  pos='4'  helpText='Date DNA-PCR Result Given'  absoluteMin='<%= @patient.person.birthdate%>' />
			</td>
		</tr>
	</table>
</form>
