<script type='text/javascript' language='javascript'>
<!--
	tt_cancel_show = '/patients/show/<%= @patient.id %>?user_id=<%= session[:user_id] %>';
	tt_cancel_destination = '/patients/show/<%= @patient.id %>?user_id=<%= session[:user_id] %>';
	</script>

<form method='post' action='/encounters/create'>
	<input type='hidden' name='program' value='EARLY INFANT DIAGNOSIS PROGRAM' />
	<input type='hidden' name='encounter_type' value='RAPID ANTIBODY TEST ' />
	<input type='hidden' name='patient_id' value='<%= @patient.id %>' />
	<input type='hidden' name='user_id' value='<%= session[:user_id] %>' />
	<table>
		<tr>
			<td>
				Rapid Antibody Testing Sample Date 
			</td>
			<td>
<input type='text' id='1.1.1'  name='concept[Rapid Antibody Testing Sample Date ]'   pos='0'  field_type='date'  helpText='Date of Rapid Antibody Test Sample'  tt_onLoad='showCategory("Rapid Antibody Test")' />
			</td>
		</tr>
		<tr>
			<td>
				Rapid Antibody Testing Age (months) 
			</td>
			<td>
<input type='text' id='1.1.2'  name='concept[Rapid Antibody Testing Age]'   absoluteMax='<%= @patient.age_in_months%>'  pos='1'  field_type='number'  helpText='Age at Rapid Antibody Test Sample'  tt_pageStyleClass='NumbersOnlyWithUnknown' />
			</td>
		</tr>
		<tr>
			<td>
				Rapid Antibody Testing HTC Serial No 
			</td>
			<td>
<input type='text' id='1.1.3'  name='concept[Rapid Antibody Testing HTC Serial No ]' helpText='Rapid Antibody Testing HTC Serial No '  pos='2' />
			</td>
		</tr>
		<tr>
			<td>
				Rapid Antibody Testing Result 
			</td>
			<td>
<select id='1.1.4' name='concept[Rapid Antibody Testing Result ]' helpText='Rapid Antibody Testing Result ' pos='3' >
<option></option>
<option value='Inconclusive'>Inconclusive</option>
 <option value='Positive'>Positive</option>
 <option value='Negative'>Negative</option>
 </select>
			</td>
		</tr>
	</table>
</form>
